footer {
    margin-top: 2em;
    background-color: rgb(25, 25, 25);

    min-height: 140px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    button {
        color: #fff;
        background-color: transparent;
        border: none;

        
    }
}