.contenedor-promos {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .btn-promo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        line-height: 17px;
        
        height: 40px;
        width: auto;
        background: #FFD104;
        padding: 0 2em;
        
        border: none;
        border-radius: 10px;
        span:nth-child(1) {
            font-size: 17.33px;
            font-weight: 800;
        }
        span:nth-child(2) {
        font-size: 14.33px;
        font-weight: 300;
        }
    }
}