@use 'cabecera';
@use 'promo';
@use 'navfilter';
@use 'producto-sf';
@use 'footer';


.contenedor-promos {
    .btn-promo {
        text-decoration: none;
        background-color: #4C4185;
        padding: .5em 1em;
        border: none;
        border-radius: .3em;

        color: #fff;
        font-weight: 600;

    }
}
.contenedor-productos {
    padding: 2em 0;
    span:nth-child(1) {
        font-size: 17.33px;
        font-weight: 600;
    }
}


.navbar-nav .dropdown-menu {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    position: absolute; /* Para que flote sobre otros elementos */
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
}

.navbar-nav .dropdown-menu.show {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}